img.image{
    /* padding-left: 600px;
    padding-top: 700px; */
    width: 250px;
    height: 350px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}



body{
    background: rgb(0, 0, 0);
    color: white;
    font-family:Goudy Old Style;
    position: relative;
    }
    /*universal style*/
/*     *{
    color: aqua;
}
*/
h1,h3{
    color: rgb(255, 255, 255);
}
/*class styleing*/
.hello{
    padding-left: 300px;
}
p.pad{
    padding-top: 20px;
    padding-bottom: 20px;
}
/*id style*/
#mukil{
    color: brown;
}


.grid-container{
    display: inline;
    grid-template-columns: auto;
}
.grid.otem{
    column-gap: 20px;
    background: 1px rgba(rgb(11, 1, 1), rgb(19, 21, 19), rgb(19, 19, 21), alpha);
    padding: 1px rgba;
    border: 20px;
}
